
body {
  background-color: #c6d8ec;
  padding: 2.5%;
}

.dict_btn{
  background-color: #faf7f0;
  border: 2px solid #4476fb;
  color: #4476fb;
}

.infosheet{
  text-align: center;
  background-color: #faf7f0;
  border: 2px solid #4476fb;
  border-radius: 15px;
  color: #4476fb;
  padding: 3%;
}
#exercise{
  font-family: "Times New Roman", Georgia, Serif;
  font-size:120%;
  color: #4476fb;
}
.answerForm{
  color: #4476fb;
}

#submitAnsw{
  background-color: #c6d8ec;
  color: #4476fb;
  border: 2px solid #4476fb;
  border-radius: 6px;
}

.wrapper {
    background-color: #689CD3;
    color: #4476fb;
    border-color: #4476fb;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-link {
    background-color: #689CD3;
    color: #4476fb;
    border-color:#4476fb;
}

.my-footer {
    background-color: #faf7f0;

}

.nav-text {
    color: #4476fb;
}

table { 
  background-color:antiquewhite;
  border-left: 5px solid dodgerblue;
  border-right: 5px solid dodgerblue;
  width: 100%;
  table-layout:fixed; 
}

.modules table { width: 90%; }

td {
  border: solid black 1px;
  border-top: none;
  border-collapse: collapse;
  margin:0;
}

th {
  color: dodgerblue;
  border: solid black 1px;
  border-collapse:collapse;
  width:100%;
}

a:link { 
  text-decoration: none;
  display:block;
  color: dodgerblue;
  text-align:center;
}

.modules a:link { text-align:left; }

tr { 
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

td { 
  flex: 1 1 auto;
  padding: 0 7px 0 7px;
}

td:hover { 
  background: #555;
  transition: 0.3s;
}

td:hover > a { 
  color: #fff;
  transition: 0.3s;
}

.card-style {
  background-color:#faf7f0;
  border: 2px solid #4476fb;
  color: #4476fb;
}
.word-link {
  text-decoration: none;
  color: #4476fb;
}

#mySuggestions{
  border-radius: 10px;
   background-color: #fff; 
    position: fixed;
}