body {
    background-color: #c6d8ec;
    padding: 2.5%;
 }

.card-style {
    background-color:#faf7f0;
    border: 2px solid #4476fb;
    color: #4476fb;
}

.word-link {
    text-decoration: none;
    color: #4476fb;
}

.wrapper {
    background-color: #689CD3;
    color: #4476fb;
    border-color: #4476fb;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-link {
    background-color: #689CD3;
    color: #4476fb;
    border-color:#4476fb;
}

.my-footer {
    background-color: #faf7f0;

}

.nav-text {
    color: #4476fb;
};